@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Custom Sleek Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100vh;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, #C7D2FE, #A5B4FC);
  border-radius: 100vh;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: background 0.3s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to bottom, #A5B4FC, #818CF8);
  border: 1px solid transparent;
}